<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>

    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114", href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72", href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="icon" type="image/icon" href="favicon.ico">

    <%= stylesheet_link_tag "application" %>
    <script type="text/javascript">
      // Preload <%= data.injectable.size %> records for faster page load
      window.preloadedAwards = <%= data.injectable.to_json %>;
    </script>
  </head>

  <body ng-app="ega" id="page-<%= current_page.data.id %>">
    <header class="page-header">
      <div class="container">
        <h1 class="title">Energy Globe Award Gewinner</h1>
        <h2 class="headline">Die besten Projekte des Global Energy Award auf einem Blick.</h2>
      </div>
      <img class="background" src="/images/big-header-fading.jpg" />
    </header>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= partial "templates/analytics" %>
  </body>

</html>
