---
title: Energy Globe Award
---
<article class="main-content about">
  <div class="text-column">
    <h1>Der Energy Globe Award</h1>
    <p>
      <%= hyphenate "Der Energy Globe Award ist ein Umweltpreis der Energy
      Globe Foundation. Dabei werden Projekte mit Fokus auf Energieeffizienz,
      Ressourcenschonung und Einsatz erneuerbarer Energien prämiert." %>
    </p>
    <p>
      <%= hyphenate "Dieser „Weltpreis für Nachhaltigkeit“ wird in den Kategorien
      Erde, Feuer (Energie), Wasser, Luft und Jugend vergeben. Der Energy Globe
      wurde im Jahr 2000 durch eine Initiative in Österreich ins Leben gerufen.
      Er wird als regionale, nationale und internationale Auszeichnung jährlich
      vergeben." %>
    </p>
    <p>
      <%= hyphenate "Ziel des Energy Globe Award ist es, ein Bewusstsein für
      die Lösung von Umweltproblemen zu schaffen und aufzuzeigen, dass jeder
      einen positiven Beitrag dazu leisten kann. Als Beispiele dafür sollen
      die Energy Globe Siegerprojekte dienen, die weltweit auf der Webseite und
      in der Energy Globe Datenbank präsentiert werden. Der 1. Preis des
      internationalen Awards ist mit 10.000 Euro pro Kategorie dotiert." %>
    </p>
    <p>
      <%= hyphenate "Die Energy Globe Siegerprojekte werden im Rahmen festlicher
      Veranstaltungen ausgezeichnet und weltweit in den Medien und im Fernsehen
      vorgestellt. Die internationalen Auszeichnungen wurden 2007 und 2008 im
      Plenarsaal des Europäischen Parlaments in Brüssel durchgeführt. 2009 fand
      die Energy Globe Gala als Auftaktveranstaltung des EU-Umweltministertreffens
      in Prag statt. 2010 eröffnete Energy Globe gemeinsam mit UNEP den Weltumwelttag
      in Ruanda. 2011 wurde eine Rekordzahl von über 1.000 Projekten aus 110
      Ländern eingereicht. Insgesamt wurden bisher ca. 6.000 Projekte zum Energy
      Globe eingereicht." %>
    <p>
    <p>
      <%= hyphenate "Vorsitzende der Energy Globe Jury ist die indische
      Parlamentarierin Maneka Gandhi, vormals indische Umweltministerin." %>
    </p>
    <p>
      <%= hyphenate "Internationale Persönlichkeiten, wie Kofi Annan, Michail
      Gorbatschow, die Präsidenten von EU Parlament und EU Kommission und Stars
      wie Martin Sheen, Peter Falk, Aamir Khan, Alanis Morissette, Dionne Warwick,
      Zucchero oder Robin Gibb stellen sich in den Dienst von Energy Globe." %>
    </p>
    <p>
      Quelle: <a href="http://de.wikipedia.org/wiki/Energy_Globe_Award">Wikipedia</a>
    </p>

    <h2>Über dieses Projekts</h2>
    <p>
      <%= hyphenate "Ziel dieser Website ist es, die Gewinner des Energy Globe
      Awards ins Scheinwerferlicht zu rücken. Durch Suche und Filterung ist es möglich,
      schnell die Gewinner aus bestimmten Ländern, in bestimmten Jahren oder
      Kategorien zu finden." %>
    </p>

    <section class="impressum">
      <h2>Impressum</h2>
      <p>
        Diese Website wurde von
        <a href="http://www.wirsing.io">Wirsing</a> entwickelt:
      </p>
      <div class="persons">
        <p>
          <strong>Clemens Helm</strong><br>
          Hietzinger Hauptstr. 99A/3<br>
          1130 Wien
        </p>
        <p>
          <strong>Aaron Cruz</strong><br>
          Weidlingbachgasse 14<br>
          3411 Weidling
        </p>
        <p>
          <strong>Dominik Guzei</strong><br>
          Goethestrasse 27<br>
          2230 Gänserndorf
        </p>
      </div>
      <p>
        Der Inhalt dieser Seite stammt von
        <a href="http://www.energyglobe.at/">www.energyglobe.at</a>.
        Wirsing kann daher nicht für die Richtigkeit der Inhalte garantieren.
      </p>
    </section>
  </div>
</article>
